.donation-history-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.donation-details {
    flex: 1;
    max-width: 65%;
}

.donation-chart {
    flex: 1;
    max-width: 35%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-left: 20px;
    height: 300px;
}

canvas {
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .donation-history-container {
        flex-direction: column;
    }

    .donation-details, .donation-chart {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .donation-history {
        padding: 10px;
    }
}

.summary {
    background: #C4DAD2; 
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.donation-breakdown {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0;
}

.donation-breakdown li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #16423C; 
}

.donation-breakdown li i {
    margin-right: 8px;
    color: #6A9C89; 
}

.btn-info {
    background-color: #6A9C89; /* Soft green for the button */
    border-color: #6A9C89;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #16423C; /* Dark teal for hover effect */
    border-color: #16423C;
    color: white;
}

.btn-info:active {
    background-color: #C4DAD2; /* Light green for active state */
    border-color: #C4DAD2;
}
