body {
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    width: 600px;
    padding: 30px;
    margin-top: 140px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-container .logo {
    margin-bottom: 20px;
    width: 150px;
    align-self: center;
}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
    color: #333;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: none;
    border-radius: 8px;
}

.form-control:focus {
    border-color: #6A9C89;
    box-shadow: 0 0 5px rgba(106, 156, 137, 0.2);
}

.login-btn {
    background-color: #16423C;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
}

.login-btn:hover {
    background-color: #6A9C89;
    transform: translateY(-2px);
}

.login-btn:active {
    transform: translateY(1px);
}

.forgot-password {
    color: #16423C;
    text-decoration: underline;
}

.forgot-password:hover {
    color: #6A9C89;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: #16423C;
    text-decoration: underline;
}

.register-link:hover {
    color: #6A9C89;
}
