<div class="blog">
  <div class="container">
    <div class="section-header text-center">
      <p>Our Blog</p>
      <h2>Latest news & articles directly from our blog</h2>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let post of paginatedPosts; let i = index">
        <div class="blog-item">
          <div class="blog-img">
            <img [src]="post.imgSrc" alt="Blog Image" />
          </div>
          <div class="blog-text">
            <h3>
              <a [routerLink]="['/blog', i]">{{ post.title }}</a>
            </h3>
            <p>{{ post.description }}</p>
          </div>
          <div class="blog-meta">
            <p>
              <i class="fa fa-user"></i>
              <a href="#">{{ post.author }}</a>
            </p>
            <p>
              <i class="fa fa-comments"></i>
              <a href="#">{{ post.comments }} Comments</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button
        (click)="currentPage = currentPage - 1"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <span>Page {{ currentPage }}</span>
      <button
        (click)="currentPage = currentPage + 1"
        [disabled]="currentPage * pageSize >= blogPosts.length"
      >
        Next
      </button>
    </div>
  </div>
</div>
